/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  margin-top: 10px;
  padding: 5px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: #fff;
}
nav ul li a:hover {
  color: rgb(154, 200, 249);
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Course content page styles */
section {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
}

p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

iframe {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

.course-list {
  padding-left: 0;
}

.course-list li {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
}

.course-list li button {
  margin-top: 0;
}
