header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-left a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-left a:hover {
    text-decoration: underline;
}

.nav-right button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.nav-right button:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* styles.css */

/* Additional styling specific to the course outlines */
.course-outline {
    display: none; /* Hide course outlines by default */
    margin-top: 20px;
}
.course-outline.active {
    display: block; /* Display the active course outline */
}
.course-title {
    cursor: pointer; /* Change cursor to pointer when hovering over course titles */
    color: blue; /* Change color of course titles */
}
