/* styles.css */

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    font-size: 14px;
    overflow-x: hidden;

}

button {
    cursor: pointer;
}

button, input {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

input {
    display: block;
    width: 100%;
    outline: none;
}

.btn {
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: 600;
    line-height: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 15px;
    background-color: rgb(31 41 55 / 1);
    transition: background-color 150ms ease-in;
}

.btn:hover {
    background-color: rgb(55 65 81 / 1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Course content page styles */
section {
    /*margin-bottom: 30px;*/
    /*border-bottom: 1px solid #ccc;*/
    /*padding-bottom: 20px;*/
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-family: inherit;
}


a {
    text-decoration: none;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

iframe {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

/*Landing Forms*/
#guest {
    text-align: center;
}

#guest h1 {
    font-size: 26px;
    margin-bottom: 36px;
}

.form {
    background-color: white;
    border-radius: 10px;
    padding: 20px 16px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form .form-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
}

.form form input {
    line-height: 16px;
    font-size: 16px;
    padding: 8px 10px;
    margin-top: 20px;
    border-radius: 4px;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}


.form form input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(4, 56, 6, 0.3);
}


#login-form-container {
    display: none;
}

.form-group {
    text-align: left;
}

.form-group.error small {
    color: var(--error-color);
}

.form-group.success input {
    border-color: var(--success-color);
}

.form-group.error input {
    border-color: var(--error-color);
}

.form-group.error input:focus {
    box-shadow: 0 0 8px #dc3545;
}

/*End of Landing Forms*/

#dashboard-container {
    min-height: 100vh;
    background-color: rgba(220 220 235 / 0.7);
}

#dashboard-container nav {
    border-bottom: 2px solid rgb(240 235 246 / 1);
    background: white;
}

.navigation {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    margin-top: -1px;
    margin-bottom: -1px;
    /*margin-inline-start: 40px;*/
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-container .nav-link {
    color: rgb(17 24 39 / 1);
    display: inline-flex;
    padding: 4px 4px 0;


    font-size: 14px;
    line-height: 60px;
    font-weight: 500;
    transition: border 150ms ease;
}

.nav-container .nav-link.active {
    border-bottom: 2px solid rgb(129 140 248/1);
}

.nav-container .nav-link:hover {
    border-bottom: 2px solid rgb(129 140 248/0.5);
}

.user-details {
    padding: 8px 12px;
}

.main-header {
    background-color: white;
}

.main-title {
    padding: 24px 24px;
}

.main-title h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;
    color: rgb(31 41 55 / 1);
}

.dashboard-content {
    padding: 48px 0;
}

.dashboard-content .welcome-message {
    background-color: white;
    border-radius: 10px;
}

.dashboard-content .welcome-message div {
    padding: 24px;
}

/*Courses List*/
.course-list-container {
    margin-top: 20px;
    padding: 24px;
    background-color: white;
    border-radius: 10px;
}

.course-list-container .course-list-title h1 {
    font-size: 32px;
    color: rgb(15, 10, 84);
}

#course-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.course-card {
    width: 20.285%;
    padding: 10px;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.course-card a {
    display: block;
    position: relative;
    padding-bottom: 138.89%;
    overflow: hidden;
    border-radius: 3px;
}

.course-card img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    position: absolute;
    top: 0;
    background-position: center;
    color: transparent;
}

.course-card .title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: block;
    background: rgba(0,0,0,.7);
    padding: 0 4px;
    color: silver;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}

.course-card a:hover {
    opacity: 0.7;
}

/*Course Details*/
#course-title {
    /*font-size: 32px;*/
}

#overview {
    margin-top: 10px;
    margin-left: 32px;
}

#overview ul {
    margin-bottom: 10px;
}

#overview ul li {
    margin-left: 32px;
}

#overview-title {
    font-size: 24px;
}

#cta-holder {
    margin-top: 24px;
    margin-left: 38px;
}