/* styles.css */
body {
    font-family: Arial, sans-serif;
    color: aqua;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    color: aquamarine;
}

form {
    margin-top: 20px;
    color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#register-form {
    color: bisque;

}

input, button {
    margin-top: 10px;
    padding: 5px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Course content page styles */
section {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

iframe {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}