/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 20px;
}
.container-body{
    width: 100%;
    max-width: 400px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.886); /* Use rgba to add transparency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-body-content{
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.886); /* Use rgba to add transparency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Add this to your existing CSS file */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.form {
    background-color: rgba(255, 255, 255, 0.479); /* Use rgba to add transparency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input, button {
    margin-top: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button i {
    margin-left: 5px;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.7); /* Use rgba to add transparency */
    color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
